1. What are data structures, and why are they important?
    -> Data structures are way of organizing and storing data in computer so it can be help to used efficiently.
    -> They help to programmers manage and process in the most optimal way.

2./ Explain the difference between mutable and immutable data types with examples?
    ->Mutable means: The data inside the object it can be updated, added, or removed without creating a new object.
- example:
my_list => ["appel","banana","kiwi"]
        => my_lsit[0]= "mango"
        => print(my_lsit)
output is = ["mango","banana","kiwi"]

    -> Immutable means: The data inside the object it can not be changeable, updated, added, or removed.
- example:

str1 => "hello"
    => str1[0]="g"
    =>print(str1)

output: 'str' object does not support item assignment

3. What are the main differences between lists and tuples in Python?
  - Mutability:
    -> In LIST we can change,add or remove the data of list but in tuple we can't change,add or remove any data of tuple .
  - speed:
    -> list are slower than the tuple and tuple is working more efficiently and faster than the list because tuple is fixed.

4. Describe how dictionaries store data.
    -> Dictionaries store data in key-value pairs. Each key maps to a value using a hashing mechanism.

5. Why might you use a set instead of a list in Python?

    -> Sets automatically remove duplicates and offer faster membership testing compared to lists.
6. What is a string in Python, and how is it different from a list?

    -> A string is a sequence of characters (immutable), while a list is a collection of elements (mutable).
- Example: string = "hello" vs list = ['h', 'e', 'l', 'l', 'o']


7. How do tuples ensure data integrity in Python?

    -> Tuples are immutable, which prevents accidental modification of the data they contain, preserving data integrity.


8. What is a hash table, and how does it relate to dictionaries in Python?

    - A hash table is a data structure that maps keys to values using a hash function.
    - Python dictionaries are implemented using hash tables.

9. Can lists contain different data types in Python?
    - Yes, lists in Python can contain mixed data types, such as [1, "hello", 3.14, True].

10. Explain why strings are immutable in Python.

    - Strings are immutable for performance and security reasons. Each modification creates a new string object.
  
11. What advantages do dictionaries offer over lists for certain tasks?

    - Dictionaries provide fast lookup by keys, making them better for tasks involving labeled or associated data.

12.  Describe a scenario where using a tuple would be preferable over a list.

    - When you need to ensure data doesn't change, like representing coordinates or fixed configuration values.

13. How do sets handle duplicate values in Python?
    - Sets automatically discard duplicate elements. Example: set([1, 2, 2]) results in {1, 2}.

14. How does the “in” keyword work differently for lists and dictionaries?

    - In lists: checks if a value is present.
    - In dictionaries: checks if a key is present.

15. Can you modify the elements of a tuple? Explain why or why not.

    - No, tuples are immutable. You cannot modify elements once the tuple is created.

16.  What is a nested dictionary, and give an example of its use case.

    - A nested dictionary is a dictionary within another dictionary.
    - Example: students = {"John": {"age": 20, "grade": "A"}}

17. Describe the time complexity of accessing elements in a dictionary.

    - Average time complexity is O(1) due to hashing.

18. In what situations are lists preferred over dictionaries?

    - When order matters, or when dealing with a simple sequence of elements without key-value mapping.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

    - Dictionaries used to be unordered (before Python 3.7). Now they preserve insertion order but conceptually they are key-based and not position-based.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

    - List uses index-based retrieval (position), while dictionary uses key-based retrieval (name or label).

In [3]:
#1.Write a code to create a string with your name and print it.
str1= "ADITYA"
print(str1)

ADITYA

In [4]:
#2.Write a code to find the length of the string "Hello World"
str2= "Hello World"
print(len(str2))

11

In [7]:
#3.Write a code to slice the first 3 characters from the starting "Python Programming"
str3= "python programming"
print (str3[:3])

pyt

In [9]:
#4.Write a code to convert the string "hello" to uppercase.
str4="hello"
str4.upper()

'HELLO'

In [11]:
#5.Write a code to replace the word "apple" with "orange" in the string "I like apple"
str5= "I like apple"
str5.replace("apple","orange")

'I like orange'

In [14]:
#6.Write a code to create a list with numbers 1 to 5 and print it.
list1 = [1,2,3,4,5]
print(list1)

[1, 2, 3, 4, 5]

In [35]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4]
list2=[1,2,3,4]
list2.append(10)
print(list2)

[1, 2, 3, 4, 10]

In [18]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
list3=[1,2,3,4,5]
list3.remove(3)
print(list3)

[1, 2, 4, 5]

In [19]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
list4=['a','b','c','d']
print(list4[1])

b

In [25]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50].
list5= [10, 20, 30, 40, 50]
list5.reverse()
print(list5)

[50, 40, 30, 20, 10]

In [27]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
tup=(100,200,300)
print(tup)

(100, 200, 300)

In [29]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
tup1=('red', 'green', 'blue', 'yellow')
print(tup1[-2])

blue

In [33]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tup2= (10, 20, 5, 15)
print(min(tup2))

5

In [36]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tup3=('dog', 'cat', 'rabbit')
tup3.index("cat")

1

In [40]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tup4=("apple","kiwi","watermelon")
if "kiwi" in tup4:
    print("kiwi is in the tuple")
else:
    print("kiwi is not in the tuple")

kiwi is in the tuple

In [43]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set1={"a","b","c"}
print(set1)

{'a', 'b', 'c'}

In [46]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set2 = {1, 2, 3, 4, 5}
set2.clear()
print(set2)

set()

In [48]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set3= {1, 2, 3, 4}
set3.remove(4)
print(set3)

{1, 2, 3}

In [52]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set4= {1, 2, 3}
set5= {3, 4, 5}
set4.union(set5)

{1, 2, 3, 4, 5}

In [55]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set6= {1, 2, 3}
set7= {2, 3, 4}
set6.intersection(set7)

{2, 3}

In [57]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dec = {"name": "bheem", "age": 12, "city": "dholakpur"}
print(dec)

{'name': 'bheem', 'age': 12, 'city': 'dholakpur'}

In [59]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
dec2= {'name': 'John', 'age': 25}
dec2["country"]="usa"
print(dec2)

{'name': 'John', 'age': 25, 'country': 'usa'}

In [60]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dec3= {'name': 'Alice', 'age': 30}
print(dec3["name"])

Alice

In [69]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dec5= {'name': 'Bob', 'age': 22, 'city': 'New York'}
dec5.pop('age')
print(dec5)

{'name': 'Bob', 'city': 'New York'}

In [70]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dec4= {'name': 'Alice', 'city': 'Paris'}
if "city" in dec4:
    print("city is in the dictionary")
else:
    print("city is not in the dictionary")

city is in the dictionary

In [72]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
list6= [1,2,3,4]
print(list6)
tup6=(1,2,3,4)
print(tup6)
dec6= {"name": "bheem", "age": 12, "city": "dholakpur"}
print(dec6)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'name': 'bheem', 'age': 12, 'city': 'dholakpur'}

In [76]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
list7= [55,45,5,99,67]
list7.sort()
print(list7)

[5, 45, 55, 67, 99]

In [78]:
#28. Write a code to create a list with strings and print the element at the third index
list8= ["india","srilanka","nepal"]
print(list8[2])

nepal

In [90]:
#29. Write a code to combine two dictionaries into one and print the result.
dec7= {"name": "iron man ", "age": 27 }
dec8= {"work": "driver","city": "newyork"}
combined_dict = dec7 | dec8
print(combined_dict)

{'name': 'iron man ', 'age': 27, 'work': 'driver', 'city': 'usa'}

In [100]:
#30. Write a code to convert a list of strings into a set.
list30= ["end","the","assignment"]
list30 = set(list30)
type(list30)

set